
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>

    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
      }
      header {
        background-color: whitesmoke;
      }
      navbar {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }
      
      .mail {
        font-size: 18px;
      }
      .food {
        font-size: 24px;
      }
      .images {
        display: flex;
      }
      .content {
        flex: "25%";
        padding: 5px;
        justify-content: center;
      }

    

      .footer {
        
        background-color: coral;
      }
    </style>
  </head>
  <body>
    <header>
      <navbar>
        
        <div class="food">MyFood</div>
        <div class="mail">Mail</div>
      </nav>
    </header>

    <div class="images">
      <div class="content">
        <figure>
          <img src="./images/sandwich.jpeg" width="100%" />
          <figcaption>
            <p>The Perfect Sandwich, A Real NYC Classic</p>
            <p>
              Just some random text, lorem ipsum text praesent tincidunt ipsum
              lipsum.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/steak.jpeg" width="100%" height="400px" />
          <figcaption>
            <p>Let Me Tell You About This Steak</p>
            <p>
              Once again, some random text to lorem lorem lorem lorem ipsum text
              praesent tincidunt ipsum lipsum.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/cherries.jpeg" width="100%" />
          <figcaption>
            <p>Cherries, interrupted</p>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
            <p>What else?</p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/wine.jpeg" width="100%" />
          <figcaption>
            <p>Once Again, Robust Wine and Vegetable Pasta</p>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="images">
      <div class="content">
        <figure>
          <img src="./images/popsicle.jpeg" width="100%" />
          <figcaption>
            <p>All I Need Is a Popsicle</p>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/salmon.jpeg" width="100%" height="400px" />
          <figcaption>
            <p>Salmon For Your Skin</p>
            <p>
              Once again, some random text to lorem lorem lorem lorem ipsum text
              praesent tincidunt ipsum lipsum.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/sandwich.jpeg" width="100%" />
          <figcaption>
            <p>The Perfect Sandwich, A Real Classic</p>
            <p>
              Just some random text, lorem ipsum text praesent tincidunt ipsum
              lipsum.
            </p>
          </figcaption>
        </figure>
      </div>
      <div class="content">
        <figure>
          <img src="./images/croissant.jpeg" width="100%" />
          <figcaption>
            <p>Le French</p>
            <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
          </figcaption>
        </figure>
      </div>
    </div>
    <center>
      <button><<</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>>></button>
    </center>
    <hr />
    <center>
      <h2>About Me, The food Man</h2>
      <img src="./images/chef.jpeg" />
    </center>
    <center>
      <h1>I am Who I Am!</h1>
      <h3>with Passion For Real. Good Food</h3>
      <p>
        Just me, myself and I, exploring the universe of unknownment. I have a
        heart of love and an interest of lorem ipsum and mauris neque quam blog.
        I want to share my world with you. Praesent tincidunt sed tellus ut
        rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
        congue gravida diam non fringilla. Praesent tincidunt sed tellus ut
        rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
        congue gravida diam non fringilla.
      </p>
    </center>

    <footer class="footer">
      <div >
          
          
          <center><h2>
            Sed vitae justo condimentum, porta lectus vitae, ultricies congue
            gravida diam non fringilla.
          </h2></center>
          <center><p>Powered by <a href="https://www.w3schools.com"><h1>w3.css</h1></a></p></center>
        </div>
        
    </footer>
  </body>
</html>
